extensions:
    nettrine.dbal: Nettrine\DBAL\DI\DbalExtension(%debugMode%)
    nettrine.orm: Nettrine\ORM\DI\OrmExtension

    nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension
    nettrine.fixtures: Nettrine\Fixtures\DI\FixturesExtension

nettrine.dbal:
    debug:
        panel: %debugMode%
        sourcePaths: [%appDir%]
    connections:
        default:
            driver: %database.driver%
            host: %database.host%
            user: %database.user%
            password: %database.password%
            dbname: %database.dbname%
            port: %database.port%

nettrine.orm:
    managers:
      default:
          mapping:
              Pladias:
                directories:
                 [%vendorDir%/pladias-cz/doctrine-mappings/src]
                namespace: Pladias\ORM
          connection: default
          autoGenerateProxyClasses: %debugMode%
          proxyDir: %tempDir%/proxies

nettrine.migrations:
	table: doctrine_migrations
	column: version
	directories:
	    Database\Migrations: %rootDir%/db/Migrations
	versionsOrganization: null
