services:
    - App\Core\RouterFactory::createRouter
    - App\Security\UserAuthenticator
    - App\Services\WebDir(%wwwDir%)
    - App\Services\TempDir(%tempDir%)
    - App\Services\AppConfiguration(@container::getParameters())

search:
    in: %appDir%
    classes:
        - *Factory
        - *Facade
        - *Service
        - *Grid
