services:
    - App\Core\RouterFactory::createRouter
    - App\Security\UserAuthenticator
    - App\Services\WebDir(%wwwDir%)
    - App\Services\TempDir(%tempDir%)

    - GuzzleHttp\Client

search:
    in: %appDir%
    classes:
        - *Factory
        - *Facade
        - *Service
        - *Grid
