services:
    - App\Core\RouterFactory::createRouter
    - App\Security\UserAuthenticator
    - App\Services\WebDir(%wwwDir%)
    - App\Services\TempDir(%tempDir%)
    - App\Services\AppConfiguration(@container::getParameters())
    - {factory: App\Console\ImportGbifRecordsCommand, tags: {console.command: gbif:importRecords}}
    - {factory: App\Console\AustriaOnlyZmizikCommand, tags: {console.command: gbif:austriaOnlyZmizik}}

search:
    in: %appDir%
    classes:
        - *Factory
        - *Facade
        - *Service
        - *Grid
