# Core Config
includes:
	# Application
	- ../app/parameters.neon
	- ../app/services.neon

	# Extensions
	- ../ext/contributte.neon
	- ../ext/ublaboo.neon
	- ../ext/nettrine.neon
	- ../ext/68publishers.neon

php:
	date.timezone: Europe/Prague

# Nette section
session:
	expiration: 14 days
	autoStart: true

latte:
	locale: en
	strictTypes: yes
	strictParsing: no
	extensions:
		- App\UI\Base\Accessory\LatteExtension

application:
	catchExceptions: %productionMode%
    # Error presenters to handle application errors
	errorPresenter:
		4xx: Base:Error:Error4xx
		5xx: Base:Error:Error5xx

	# Presenter to class name mapping pattern
	mapping:
		Admin: App\UI\Admin\**Presenter
		Front: App\UI\Front\**Presenter
		Base: App\UI\Base\*\**Presenter

di:
	debugger: true

